<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bring your tifo to life, with TifoLive.xyz !">

    <title>TifoLive</title>
    <link rel="icon" type="image/png" href="{{ static_url('img/favicon.png') }}">
    <script src="{{ static_url('js/jquery-3.1.0.min.js') }}"></script>
</head>

<body>
<!--<form method="post">-->
<!--{% module xsrf_form_html() %}-->
<!--Start time:<br>-->
<!--<input type="datetime" name="starttime"><br>-->
<!--Passkey:<br>-->
<!--<input type="password" name="passkey"><br>-->
<!--<input type="submit">-->
<!--</form>-->
<span id="span-ping"></span><br>
<span id="span-users-online"></span>
<button id="button-start">Start !</button>
<button id="button-start-10">Start in 10s !</button><br>
<span id="span-timeout"></span>
<script src="{{ static_url('js/admin.js') }}"></script>
</body>
</html>