{% extends "main.html" %}
{% block main %}
    <a name="top"></a>
    <section class="tifolive-bring-life-section mdl-typography--text-center">
        <div class="logo-font tifolive-slogan">Bring life to your tifo !</div>
        <div class="logo-font tifolive-sub-slogan">Welcome to TifoLive, providing you the best tifos since 2016
        </div>
        <div class="logo-font tifolive-create-character">
            <a href=""><img src="{{ static_url('img/creation.png') }}"> Create your own tifo</a>
        </div>

        <a href="#screens">
            <button class="tifolive-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">expand_more</i>
            </button>
        </a>
    </section>
    <section class="tifolive-screen-section mdl-typography--text-center">
        <a name="screens"></a>
        <div class="mdl-typography--display-1-color-contrast">Something about this website ?</div>
        <div class="tifolive-screens">
            <div class="tifolive-wear tifolive-screen">
                <a class="tifolive-image-link" href="">
                    <img class="tifolive-screen-image" src="images/wear-silver-on.png">
                    <img class="tifolive-screen-image" src="images/wear-black-on.png">
                </a>
                <a class="tifolive-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Lorem
                    Ipsum</a>
            </div>
            <div class="tifolive-phone tifolive-screen">
                <a class="tifolive-image-link" href="">
                    <img class="tifolive-screen-image" src="images/nexus6-on.jpg">
                </a>
                <a class="tifolive-link mdl-typography--font-regular mdl-typography--text-uppercase"
                   href="">Lorem Ipsum</a>
            </div>
            <div class="tifolive-tablet tifolive-screen">
                <a class="tifolive-image-link" href="">
                    <img class="tifolive-screen-image" src="images/nexus9-on.jpg">
                </a>
                <a class="tifolive-link mdl-typography--font-regular mdl-typography--text-uppercase"
                   href="">Lorem Ipsum</a>
            </div>
            <div class="tifolive-tv tifolive-screen">
                <a class="tifolive-image-link" href="">
                    <img class="tifolive-screen-image" src="images/tv-on.jpg">
                </a>
                <a class="tifolive-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Lorem
                    Ipsum</a>
            </div>
            <div class="tifolive-auto tifolive-screen">
                <a class="tifolive-image-link" href="">
                    <img class="tifolive-screen-image" src="images/auto-on.jpg">
                </a>
                <a class="tifolive-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left"
                   href="">Coming Soon: Lorem Ipsum</a>
            </div>
        </div>
    </section>
    <section class="tifolive-wear-section">
        <div class="tifolive-wear-band">
            <div class="tifolive-wear-band-text">
                <div class="mdl-typography--display-2 mdl-typography--font-thin">Lorem ipsum dolor sit amet
                </div>
                <p class="mdl-typography--headline mdl-typography--font-thin">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit tincidunt pretium. Aenean
                    cursus nisl sit amet justo molestie, sit amet pretium turpis fringilla.
                </p>
                <p>
                    <a class="mdl-typography--font-regular mdl-typography--text-uppercase tifolive-alt-link"
                       href="">
                        Etiam dignissim ante at libero laoreet tincidunt &nbsp;<i
                            class="material-icons">chevron_right</i>
                    </a>
                </p>
            </div>
        </div>
    </section>
    <section class="tifolive-customized-section">
        <div class="tifolive-customized-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Customised by you,
                for
                you
            </div>
            <p class="mdl-typography--font-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit tincidunt pretium. Aenean cursus
                nisl sit amet justo molestie, sit amet pretium turpis fringilla.
                <br>
                <a href="" class="tifolive-link mdl-typography--font-light">Customise your tifo</a>
            </p>
        </div>
        <div class="tifolive-customized-section-image"></div>
    </section>
    <section class="tifolive-more-section">
        <div class="tifolive-section-title mdl-typography--display-1-color-contrast">More from tifolive</div>
        <div class="tifolive-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                    <img src="images/more-from-1.png">
                </div>
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">Get going on tifolive</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to tifolive quick and easy</span>
                </div>
                <div class="mdl-card__actions">
                    <a class="tifolive-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                        Make the switch
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                    <img src="images/more-from-4.png">
                </div>
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">Create your own tifolive tifo</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">Lorem ispum</span>
                </div>
                <div class="mdl-card__actions">
                    <a class="tifolive-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                        Create a tifo
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                    <img src="images/more-from-2.png">
                </div>
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">Lorem ispum</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit tincidunt pretium.</span>
                </div>
                <div class="mdl-card__actions">
                    <a class="tifolive-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                        Download now
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                    <img src="images/more-from-3.png">
                </div>
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">Millions to choose from</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your tifolive device uniquely yours.</span>
                </div>
                <div class="mdl-card__actions">
                    <a class="tifolive-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                        Find apps
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% end %}