<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TifoTest</title>
</head>
<body style="background-color: black; margin: 0px; padding: 0px;">
<table style="border-spacing: 20px 30px; margin: 0px; padding: 0px; border-collapse: separate;">
    <tbody>
    {% for row in table %}
    <tr>
        {% for pixel in row %}
        <td style="background-color: {{ pixel }}; padding: 2px 1px;"></td>
        {% end %}
    </tr>
    {% end %}
    </tbody>
</table>
</body>
</html>